{% extends "./base.html" %}
{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
    <div id="form-container">
        <form action="" method="post" id="wizard-form">{% csrf_token %}
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form.as_table }}
                    {% endfor %}
                {% else %}
                    {{ wizard.form }}
                {% endif %}
            </table>
            <div class="mt-3">
                {% if wizard.steps.prev %}
                    <button class="btn btn-primary rounded-5" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" formnovalidate>{% translate "first step" %}</button>
                    <button class="btn btn-primary rounded-5" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>{% translate "prev step" %}</button>
                {% endif %}
                <input class="btn btn-primary rounded-5" type="submit" value="{% translate "submit" %}"/>
            </div>
        </form>
    </div>
    
{% endblock %}
