{% extends "./base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <p>Step {{ wizard.steps.step1 }} of {{ step_count }}</p>
    <div class="d-flex justify-content-between gap-3 my-3">
    {% for step in wizard.steps.all %}
        <div class="wizard-step" style="height: 10px; width: {{ step_width }}%;"></div>
    {% endfor %}
    </div>
    <div id="form-container">
        <form action="" method="post" id="wizard-form">{% csrf_token %}
            <table>
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                    {% for form in wizard.form.forms %}
                        {{ form|crispy }}
                    {% endfor %}
                {% else %}
                    {{ wizard.form|crispy }}
                {% endif %}
            </table>
            <div class="mt-3">
                {% if wizard.steps.prev %}
                    <button class="btn btn-primary rounded-5" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" formnovalidate>{% translate "first step" %}</button>
                    <button class="btn btn-primary rounded-5" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>{% translate "prev step" %}</button>
                {% endif %}
                <input class="btn btn-primary rounded-5" type="submit" value="{% translate "submit" %}"/>
            </div>
        </form>
    </div>
    <script>
        var step1Value = {{ wizard.steps.step1 }};
        var steps = document.querySelectorAll('.wizard-step');
        steps.forEach(function(step, index) {
            step.classList.remove('bg-primary', 'bg-secondary', 'bg-success', 'bg-danger');
            if (index + 1 <= step1Value) {
                step.classList.add('bg-primary');
            } else {
                step.classList.add('bg-secondary');
            }
        });
    </script>
    
{% endblock %}
