{% extends "./base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
    <div id="form-container">
        <form action="" method="post" id="wizard-form" class="pattern-form">
            {% csrf_token %}
            <div id="mobile-steps">
                <h3>Formulário mob</h3>
                {% if wizard.steps.prev %}
                    <button class="btn btn-light rounded-5" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>
                        <i class="bi bi-arrow-left"></i>
                    </button>
                {% endif %}
                <span class="fw-bold">{{ step_message }}</span>
                <div class="d-flex justify-content-between gap-2 py-3 mb-3">
                    {% for step in wizard.steps.all %}
                        <div class="wizard-step" style="height: 5px; width: {{ step_width }}%;"></div>
                    {% endfor %}
                </div>
                {{ wizard.management_form }}
                {% if wizard.form.errors %}
                    <div class="alert alert-danger mb-4">
                        {% for field, errors in wizard.form.errors.items %}
                            <div><strong>{{ field }}:</strong> {{ errors|join:", " }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
                {% include template_name %}
                <div class="mt-3 d-flex flex-row-reverse">
                    <input class="btn btn-primary rounded-5 fw-semibold py-2 px-3" type="submit" value="Próximo"/>
                </div>
            </div>
        </form>
        <form action="" method="post" id="wizard-form" class="pattern-form">
            {% csrf_token %}
            <div id="desktop-steps" style="display:none;">
                <h3>Formulário Desk</h3>
                {{ wizard.management_form }}
                {% for form in all_forms %}
                        <table>
                            {{ form }} 
                        </table>
                {% endfor %}
                <div class="mt-3 d-flex flex-row-reverse">
                    <input class="btn btn-primary rounded-5 fw-semibold py-2 px-3" type="submit" value="Concluir"/>
                </div>
            </div>
        </form>
    </div>
    <script>
        function checkScreenWidth() {
            const mobileSteps = document.getElementById('mobile-steps');
            const desktopSteps = document.getElementById('desktop-steps');

            if (window.innerWidth <= 768) {
                mobileSteps.style.display = 'block';
                desktopSteps.style.display = 'none';
            } else {
                mobileSteps.style.display = 'none';
                desktopSteps.style.display = 'block';
            }
        }

        window.addEventListener('load', checkScreenWidth);
        window.addEventListener('resize', checkScreenWidth);
    </script>
{% endblock %}
